<header class="site-header">
  <div class="header-container">
    <a href="index.html" class="logo">
      <img src="../assets/img/logo.png" alt="Urban USS" />
      <h1>Urban USS</h1>
    </a>


<nav class="main-nav">
  <ul>
    <li><a href="../catalog.html">Nuevas Llegadas</a></li>
    <li><a href="../catalog.html">Hombres</a></li>
    <li><a href="../catalog.html">Mujeres</a></li>
    <li><a href="../catalog.html">Accesorios</a></li>
    <li><a href="../catalog.html">Ofertas</a></li>
  </ul>
</nav>

<div class="header-icons">
  <button id="searchBtn" title="Buscar">
    <img src="../assets/icons/search.svg" alt="Buscar" />
  </button>
  <button id="userBtn" title="Usuario">
    <img src="../assets/icons/user.svg" alt="Usuario" />
  </button>
  <button id="cartBtn" title="Carrito">
    <img src="../assets/icons/cart.svg" alt="Carrito" />
  </button>
</div>


  </div>
</header>
